/*Author: Courtney Hockenberry*/
:root{
    --pearl: rgb(244, 244, 208);
    --aqua: rgb(66, 107, 107);
    --red: rgb(177, 123, 123);
}

body{
    background: rgb(248, 247, 240);
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    width: 90%;
    margin: auto;
}

#main-header{
    color: var(--aqua);
    text-align: center;
}
#main-content{
    text-align: center;
    color: white;
    border: 1px solid var(--aqua);
    color: var(--aqua);
    background: var(--pearl);
}
#title{
    font-size: 20px;
    color: var(--aqua);
    text-align: center;
    margin-top: 20px;
}
#desc-txt{
    font-size: 16px;
    color: var(--aqua);
    text-align: center;
    margin-bottom: 20px;
}
#img-table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid var(--aqua);
    border-bottom: 1px solid var(--aqua);
}
img{
    width: 200px;
    height: auto;
    margin: 0px;
    margin-top: 5px;
    border: 1px solid var(--aqua);
}
#image-by{
    text-align: left;
}



#footer{
    color: var(--aqua);
    text-align: center;
}


/*Typography*/

h2{
    color: var(--red);
}