body {
background: Thistle;
font-family: sans-serif;
display: flex;
flex-wrap: wrap;
}
h1 {
color: White;
text-align: center;
width: 100%
display: block;
}
h1:hover { 
  color: DarkSlateBlue;
  text-align: center;
  width: 100%
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.assign {
background-color: Lavender;
margin: 10px;
padding: 10px;
border-radius: 10px;
width: 20%
box-shadow: 8px 8px DarkSlateBlue;
display: block;
}
.assign img {
width: 100px;
padding: 10px;
border: 2px solid MediumPurple;

}
.assign img:hover {
  width: 100px;
  margin: 10px;
  border: 2px dotted SlateBlue;
}
