body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#main-nav{
    position: relative;
    background: white;
    width: 100%;
}

.grid-container{
    top: 0;
    position: relative;
    display:grid;
    padding: 3px;
    left: 0;
    width: 100%;
}
.grid-container a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.grid-container li{
    list-style-type: none;
    display: grid;
    text-align: center;
    background: grey;
    position: relative;
    padding: 5px;
    margin-right: 35px;
    border-radius: 15px;
    padding: 5px;
}
#main-header{
    text-align: center;
    border-top: 2px solid grey;
}
#species section{
    padding: 30px;
    margin: 10px;
   
   
}
#assignments section{
    background: rgba(171, 168, 168, 0.904);
    text-align: center;
    
}
#names{
    font-size: 14px;
}
#descriptions{
    padding: 4px;
}
#footer{
    text-align: center;
    background: grey;
    height: 20px;
    font-size: 15px;
    color: white;
}





@media only screen and (min-width:600px){
    .columns{
        display:flex;
    }
    .container{
        display: flex;
    }
    .grid-container{
        display:grid;
    }
    .one{
        flex:1;
    }
    #assignments{
        flex-wrap: wrap;
    }


    #main-nav li{
        flex:1;
    }

}