:root{
    --green:rgba(81, 107, 60, 0.762);
    --grey:rgba(133, 126, 126, 0.875);
    --khaki:rgb(183, 177, 126);
}

body{
    background: var(--green);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;

}
#content{
    padding: 1px;
    width: 75%;
    margin: auto;
}

.columns > * {
    background: var(--khaki);
    border-radius: 2px;
    border-color: rgb(145, 145, 183);
    width: 150px;
    height: 500px;
    padding: 1px;
    margin: 25px;
    position:relative;
}
#img-btn{
    position:relative;
    width: 280px;
    height: 300px;
    margin-left: 55px;

}
#counter-btn{
    position:relative;
    width: 380px;
    height: 435px;
    margin-left: 4px;
    border-color: rgba(240, 230, 140, 0);
    background-color:var(--khaki);
    font-size: 55px;
}
.slider-container{
    width: 100%;
    
}
.slider{
    appearance: none;
    width: 90%;
    outline: none;
    background: grey;
    height: 25px;
}
#slider-img{
    position: relative;
}


/* Typography*/

h1{
    color: var(--khaki);
    text-align: center;
}
h2{
    color: rgb(94, 76, 53);
    text-align: center;
}
h3{
    color: var(--green);
    text-align: center;
}
#footer{
    font-size: 12px;
    text-align: center;
    margin-top: -20px;
    position: relative;
}

p{
    font-size: 55px;
}

@media only screen and (min-width: 600px) {
    #content {
      width: 93%;
      margin: auto;
    }
  
    .columns {
      display: flex;
    }
  
    .columns > * {
      padding: 1px;
      margin: 40px;
    }
  
    .one {
      flex: 1;
    }
}