:root{
    --black:black;
    --maroon:#73000A;
    --grey: #ECECEC;
    --white: white;

}

body{
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin:0;
}
#banner{
    background: black;
    width: 100%;
    height: 150px;
}
#logo{
    position:relative;
    left: 0;
    width: 310px;
    height: 80px;
    padding-top: 5px;

}
#nav-top{
    background: black;
    padding: 10px;
    position: relative;
    top: 0;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    
}
.grid-container{
    position: relative;
    display: grid;
    padding: 10px;
    top: 0px;
    right: 0px;
}
.grid-container li{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
}
.grid-container a{
    text-decoration:none;
    color:#ECECEC;
}

#banner{
    position: sticky;
    background: black;

}
#main-nav-bottom{
    background: #73000A;
    width: 100%;
    height: 50px;
}
.grid-container-2 li{
    list-style-type:none;
    padding-left:0;
    display: grid;
    text-transform: uppercase;
    text-align: center;
    margin-left: 55px;
    font-size: 20px;
    
}
.grid-container-2 a{
    text-decoration:none;
    padding:5px;
    color:#ECECEC;
}
.grid-container-2{
    position: relative;
    display: grid;
    padding: 8px;
}
#main-photo{
    margin-top: 5px;
}

#admissions{
    background: #73000A;
    color:#ECECEC;
    width:480px;
    height:75px;
    position:absolute;
    left: 25px;
    top: 97%;
    text-align: center;
    text-decoration: bold;
}
#admissions-info{
    background:white;
    color:black;
    width:60%;
    margin-left:300px;
    padding: 50px;
    
}

#degree-programs{
    background:#73000A;
    color:white;
}
#degree-info{
    padding: 70px;
    margin-left: 5px;
    margin-top: 120px;
}
#reqs{
    background: black;
    width: 330px;
    height:70px;
    border: 4px white;
    text-align: center;
    padding: 1px;
}
#reqs a{
    text-decoration: none;
    color: white;
}

#invest {
    background-color: #ECECEC;
    height: 430px;
}
#invest-header{
    color: #73000A;
    text-align: center;
    padding-top: 60px;
    text-decoration: bold;
}
#invest-info{
    color: black;
    padding: 5px;
    text-align: center;
    width:60%;
    margin-left:300px;
}
#fees{
    margin-top: 50px;
    background: #73000A;
    width: 240px;
    height:64px;
    border: 4px white;
    position: relative;
    left: 33%;
    padding: 1px;
}
#fees a{
    color: white;
    text-align: center;
    text-decoration: none;
}
#payment{
    background-color: white;
}
#payment-header{
    color:#73000A;
    text-align: center;
    padding-top: 30px;
}
#payment-info{
    color: black;
    text-align: center;
    width:60%;
    margin-left:300px;
    padding: 5px;
}

#payment section{
    background: white;
    padding: 5px;
    margin: 5px;
    display: block;
    margin-left: 135px;
    margin-top: 40px;

}
#payment a{
    text-decoration: none;
    color:black;
}
#apply{
    background: black;
    width: 100%;
    height: 300px;
}
#apply-img{
    position: relative;
    margin-left: 30px;
}
#apply-info{
    margin-left: 400px;
    color:white;
    width: 60%;
    height: 50px;
    top: -240px;
    position: relative;
}
#apply-now{
    background: #73000A;
    width: 150px;
    height:60px;
    border: 4px white;
    text-align: center;
    padding: 1px;
    
}

h5{
    color: #73000A;
}
#main-bottom{
    background: #73000A;
    width: 100%;
    height: 1450px;
}
#bottom-image{
    margin-left: 30px;
}
#social{
    position:relative;
    right:-1350px;
    top: -80px;
    padding: 5px;
    margin: 5px;
    margin-right: 30px;
}

#colleges{
    color: white;
    margin-left: 40px;
    margin-right: 60px;
    flex-wrap: wrap;
}

#bottom-nav li{
    list-style-type:none;
    margin: 18px;
    font-size: 12px;
}
#bottom-nav a{
    text-decoration: none;
    color: white;
}
#offices{
    color: white;
    margin-left: 40px;
    margin-right: 60px;
    flex-wrap: wrap;
}
#tools{
    color: white;
    margin-left: 40px;
    margin-right: 60px;
    flex-wrap: wrap;
}
#main-footer{
    background: black;
    width: 100%;
    height: 70px;
    position: relative;
    top: -15px;
}
.grid-container-3{

}
#main-footer li{
    list-style-type:none;
    margin-top: 25px;
    display: grid;
    text-transform: uppercase;
    text-align: center;
    margin-left: 40px;
    font-size: 12px;
    border-right: 1px solid white;
}
#main-footer a{
    text-decoration:none;
    padding:5px;
    color:#ECECEC;
}

.container{
    display: none;
}
#degree-programs{
    flex-direction: column;
}

@media only screen and (min-width:600px){

    .container{
        display:flex;
    }
    .columns {
        display:flex;
    }
    #banner{
        position:relative;
        width: 100%;
    }
    #dg-img {
        display: block;
        width: 90%;
      }
    #main-img{
        display: block;
        width: 30%;
    }
    #nav-top{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        color: white;
        text-transform: uppercase;
    }
    
    .grid-container{
        display: grid;
    }
    .one{
        flex:1;
    }
    #payment{
        flex-wrap: wrap;
    }

    #degree-programs{
        flex-direction: row;
    }
    
    #admissions{
        left: 120px;
        top: 97%;
    }
    #main-bottom{
        height: 540px;
    }
    
}
