/* Strcuture */

body {
    background-image: url("images/seabunny_bgf.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    width: 80%;
    margin: auto;
    background: #D99B66;
    border-radius: 15px;
    border: 4px solid #624831c3;
}
#species section{
    background:#c28651;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;
    border: 4px solid #624831c3;
}
#main-aside{
    background: #c28651;
    padding: 4px;
    margin: 7px;
    border-radius: 15px;
    border: 4px solid #624831c3;
}
#table section{
    border-collapse: collapse;
    background:#F2CDAC;
}
th, td{
    border: solid #624831c3;
}
#information section{
    background: #d2a883;
    border-radius: 15px;
    border: 4px solid #624831c3;
}
img{
    max-width: 100%;
    border-radius: 15px;
    border: 3px solid #624831c3;
 
}
#main-header{
    background: #D99B66;
    border-bottom: 5px solid #4a34206c;
}
#main-nav li{
    list-style: none;
    border-bottom: #4a34206c;
    display: inline-block;
}
#main-nav ul{
    padding-left: 0;
    text-align: center;
}
#main-nav a{
    text-decoration: none;
    background: #BF7417;
    color:#F2CDAC;
    padding: 5px;
    margin: 5px auto;
    border-radius: 13px;
    text-align: center;
}
#main-nav a:hover{
    background-color: #593616;
    color:#D99B66;
    text-align: center;
}



/*Typography*/
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
@media screen and (min-width:600px) {
    .columns{
        display:flex;
    }
    .one{
        flex:1;
    }
    .two{
        flex:2;
    }
    .three{
        flex:3;
    }
    .four{
        flex:4;
    }
    #main-nav li{
        flex:1;
    }
}
@media screen and (min-width:768px) {
    
}